.ListItem {
    background: #423a6f;
    color: #fff;
    display: flex;
    justify-content: space-between;
    justify-items: center;


    

}
button:hover {
    background: #423a6f;
    color: #fff;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-radius: 13px 13px;
    transition: 0.8s;
 }
button {
    background: #423a6f;
    color: #fff;
    align-content: flex-end;
}
 