#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}



.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
.table{
  border-collapse: collapse;
  background-color: white;
  border-top: 1px solid white;
}

.table tbody {
  color: black;
}
.table thead {
  background-color: rgba(53, 47, 91, 1);
  color: white;
}
.table td {
  text-align: center;
}
.table th, .table td {
  border-bottom: 1px solid rgba(0,0, 0, 0.2);
  padding: 7px;
 
}
.table td:first-child{
  text-align: left;
}




.title-th{
  color:white;

}

.title-th:hover{
  color:white;
}




@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}



.card {
  padding: 2em;
  color: white;
}

.read-the-docs {
  color: #888;
}

.completed{
  color: red;
  text-decoration:line-through;
}


/* Mobile Styles (Small Screens) */
@media (max-width: 768px) {
  .card {
    width: 450px;
  }

  .table th, .table td {
    border-bottom: 1px solid rgba(0,0, 0, 0.2);
    padding: 3px;
   }
   .table{
    width: 100%;
  }  
}

/* Tablet Styles (Medium Screens) */
@media (min-width: 768px) and (max-width: 1024px) {
  /* Styles for tablets */
  .card {
    width: 500px;
  }
  .table th, .table td {
    border-bottom: 1px solid rgba(0,0, 0, 0.2);
    padding: 7px;
    align-items: center;
   
  }
  .table{
    width: 100%;
  }
}

/* Desktop Styles (Large Screens) */
@media (min-width: 1024px) {
  /* Styles for large desktops */
  .card {
    width: 500px;
  }

  .table{
    width: 100%;
  }
}


